---
import Container from './UI/Container.astro';
import Title from "./UI/Title.astro";
import Button from "./UI/Button.astro";
import {Image} from "astro:assets";
import AuchanLogo from '../assets/auchan_logo.svg';
import GasLogo from '../assets/gas_logo.svg';
import AlfaLogo from '../assets/alfa_logo.svg';
import MediumArrow from '../assets/arrow-medium.svg';

const slides = [{
  title: 'Разработка и интеграция сервисов для инвестиций',
  logo: AlfaLogo,
  buttonText: 'Подробнее',
  description: 'Разработка и интеграция сервисов для инвестиций'
},{
  title: 'Мобильное приложение и сайт-презентация',
  logo: GasLogo,
  buttonText: 'Подробнее',
  description: 'Разработка и интеграция сервисов для инвестиций'
},{
  title: 'Дизайн сайта',
  logo: AuchanLogo,
  buttonText: 'Подробнее',
  description: 'Разработка и интеграция сервисов для инвестиций'
},{
  title: 'Разработка и интеграция сервисов для инвестиций',
  logo: AlfaLogo,
  buttonText: 'Подробнее',
  description: 'Разработка и интеграция сервисов для инвестиций'
},{
  title: 'Мобильное приложение и сайт-презентация',
  logo: GasLogo,
  buttonText: 'Подробнее',
  description: 'Разработка и интеграция сервисов для инвестиций'
},{
  title: 'Дизайн сайта',
  logo: AuchanLogo,
  buttonText: 'Подробнее',
  description: 'Разработка и интеграция сервисов для инвестиций'
}]
---

<Container id="cases" gap data-aos="fade-up">
  <div class="cases">
    <div class="cases__header">
      <Title
          text="Наши кейсы"
          tag="h2"
      />
      <Button class="cases__header-button" text="Оценить проект" />

      <div class="cases__navigation">
        <div class="cases__arrow cases__arrow--prev" />
        <div class="cases__arrow cases__arrow--next" />
      </div>
    </div>

    <div class="cases__body">
      <div class="cases__swiper swiper">
        <div class="cases__wrapper swiper-wrapper">
          {slides.map(slide =>
              <div class="cases__slide swiper-slide">
                <div class="cases__item">
                  <div class="cases__logo">
                    <Image src={slide.logo} alt="Logo" />
                  </div>
                  <div class="cases__text">
                    {slide.title}
                  </div>
                  <div class="cases__additional">
                    <button class="cases__button">
                      {slide.buttonText}
                    </button>
                    <div class="cases__description">
                      <p>{slide.description}</p>
                      <ul>
                        <li>Разработали систему авторизации и формы подачи заявок на размещение инвестиций с использованием React. </li>
                        <li>Реализовали интеграцию с Госуслугами для удобства пользователей. Провели полный цикл проектирования и разработки </li>
                      </ul>
                    </div>
                  </div>
                  </div>
              </div>
          )}
        </div>
      </div>
      <Button class="cases__footer-button" text="Оценить проект" />
    </div>
  </div>
</Container>

<style lang="scss" is:global>
  .cases {
    &__header {
      display: flex;
      gap: 0 30px;
      align-items: center;
    }

    &__navigation {
      display: flex;
      margin-left: auto;
    }

    &__body {
      margin-top: 50px;
    }

    &__navigation {
      display: flex;
      gap: 0 10px;
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 57px;
      height: 57px;
      border-radius: 100%;
      background: #3F65FF;
      cursor: pointer;

      &--prev {
        &::after {
          transform: rotate(180deg);
        }
      }

      &::after {
        content: '';
        display: inline-flex;
        width: 29px;
        height: 27px;
        mask: url("../assets/arrow-medium.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: $secondary;
      }
    }

    &__wrapper {

    }

    &__swiper {
      @include media(sm) {
        margin: 50px -10px;
        padding: 0 10px;
      }
    }

    &__slide {
      transition: height 200ms ease-out;

      &.active {
        .cases__description {
          height: auto;
        }

        .cases__button::after {
          transform: rotate(45deg);
        }
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      gap: 30px 0;
      padding: 35px 20px;
      background: #FFFFFF;
      border: 1px solid #000000;
      border-radius: 20px;
    }

    &__logo {
      width: 100%;
      min-height: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
        width: auto;
        object-fit: contain;
      }
    }

    &__text {
      @include MontserratMedium26;
    }

    &__button {
      @include MontserratMedium18;

      margin-top: auto;
      display: flex;
      align-items: center;
      color: #3F65FF;

      &::after {
        content: '';
        display: inline-flex;
        width: 22px;
        height: 16px;
        mask: url("../assets/arrow-small.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        margin-left: 5px;
        background-color: #3F65FF;
        transition: transform 100ms ease-in;
      }
    }

    &__additional {
      margin-top: auto;
    }

    &__description {
      @include MontserratMedium18;

      transition: height 200ms ease-out;
      overflow: hidden;
    }

    &__header-button {
      @include media(sm) {
        display: none;
      }
    }

    &__footer-button {
      display: none;
      margin-top: 30px;
      width: 100%;

      @include media(sm) {
        display: block;
      }
    }
  }
</style>