---
import Container from './UI/Container.astro';
import Button from "./UI/Button.astro";
import ServiceCard from "./ServiceCard.astro";
import ServiceIcon1 from "../assets/service-icon-1.svg";
import Title from "./UI/Title.astro";
---

<Container gap>
  <div class="services">
    <div class="services__column services__column--sticky">
      <div class="services__sticky">
        <Title tag="h2" text="Услуги" />
        <p class="services__description">Анализируем, проектируем, внедряем и поддерживаем.
          <a href="#">Делаем так, чтобы IT работало на вас, а не наоборот.</a>
        </p>
        <Button text="Оценить проект" />
      </div>
    </div>

    <div class="services__column services__column--slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="services__subcolumn">
            <ServiceCard
                icon={ServiceIcon1}
                title="Разработка ПО под ключ"
                text="создаем программные решения с нуля, от идеи до внедрения."
            />
            <ServiceCard
                icon={ServiceIcon1}
                title="Разработка ПО под ключ"
                text="создаем программные решения с нуля, от идеи до внедрения."
            />
            <ServiceCard
                icon={ServiceIcon1}
                title="Разработка ПО под ключ"
                text="создаем программные решения с нуля, от идеи до внедрения."
            />
          </div>
          <div class="services__subcolumn swiper-slide">
            <ServiceCard
                icon={ServiceIcon1}
                title="Разработка ПО под ключ"
                text="создаем программные решения с нуля, от идеи до внедрения."
            />
            <ServiceCard
                icon={ServiceIcon1}
                title="Разработка ПО под ключ"
                text="создаем программные решения с нуля, от идеи до внедрения."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>

<style lang="scss" is:global>
  .services {
    display: grid;
    grid-gap: 0 96px;
    grid-template-columns: 384px 1fr;
    position: relative;

    @include media(md) {
      grid-template-columns: 1fr;
    }

    &__column {
      display: flex;
      gap: 24px;

      @include media(md) {
        margin-top: 30px;
      }

      &--sticky {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;

        @include media(md) {
          margin-top: 0;
          align-items: flex-start;
        }
      }

      &--slider {
        width: 100vw;
        overflow: hidden;

        .swiper-slide {
          display: flex;
        }
      }
    }

    &__sticky {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: sticky;
      top: calc(50vh - $header_height);
      gap: 30px 0;
    }

    &__subcolumn {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include media(md) {
        flex-direction: row;
        gap: 0 10px;
      }

      &:nth-child(2) {
        margin: auto 0;
      }
    }

    &__description {
      @include MontserratMedium18;
    }
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Scrollbar } from "swiper/modules";
  import 'swiper/css';

  new Swiper(".services__column--slider", {
    modules: [Scrollbar],
    direction: "horizontal",
    freeMode: true
  });
</script>
