---
import Container from './UI/Container.astro';
import Button from "./UI/Button.astro";
import ServiceCard from "./ServiceCard.astro";
import ServiceIcon1 from "../assets/service-icon-1.svg";
---

<Container gap>
  <div class="services">
    <div class="services__column services__column--sticky">
      <div class="services__sticky">
        <div class="services__title">Услуги</div>
        <p class="services__description">Анализируем, проектируем, внедряем и поддерживаем.
          <a href="#">Делаем так, чтобы IT работало на вас, а не наоборот.</a>
        </p>
        <Button text="Оценить проект" />
      </div>
    </div>

    <div class="services__column">
      <div class="services__subcolumn">
        <ServiceCard
            icon={ServiceIcon1}
            title="Разработка ПО под ключ"
            text="создаем программные решения с нуля, от идеи до внедрения."
        />
        <ServiceCard
            icon={ServiceIcon1}
            title="Разработка ПО под ключ"
            text="создаем программные решения с нуля, от идеи до внедрения."
        />
        <ServiceCard
            icon={ServiceIcon1}
            title="Разработка ПО под ключ"
            text="создаем программные решения с нуля, от идеи до внедрения."
        />
      </div>
      <div class="services__subcolumn">
        <ServiceCard
            icon={ServiceIcon1}
            title="Разработка ПО под ключ"
            text="создаем программные решения с нуля, от идеи до внедрения."
        />
        <ServiceCard
            icon={ServiceIcon1}
            title="Разработка ПО под ключ"
            text="создаем программные решения с нуля, от идеи до внедрения."
        />
      </div>

    </div>
  </div>
</Container>

<style lang="scss" is:global>
  .services {
    display: grid;
    grid-gap: 0 96px;
    grid-template-columns: 384px 1fr;
    position: relative;

    &__column {
      display: flex;
      gap: 24px;

      &--sticky {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
      }
    }

    &__sticky {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: sticky;
      top: calc(50vh - $header_height);
      gap: 30px 0;
    }

    &__subcolumn {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &:nth-child(2) {
        margin: auto 0;
      }
    }

    &__title {
      @include UnboundedRegular68;
    }

    &__description {
      @include MontserratMedium18;
    }
  }
</style>